#strings-footer {
    display: block;
    border: none;
    border-radius: none !important;
    padding: 20px 0;

    p {
        margin: auto auto;
        color: #fff;
    }
}

#arrays-footer {
    display: block;
    border: none;
    border-radius: none !important;
    padding: 20px 0;

    p {
        margin: auto auto;
        color: #fff;
    }
}